*.iml
.gradle
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.gradle/
.idea/
.DS_Store/
.externalNativeBuild/
**/build/
**/captures/
**/*.iml
**/local.properties
local_repo.xml
.repo/